<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Pupil',root_path, :class => "navbar-brand" %>
    </div>

  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
        <ul class="dropdown-menu">
          <li><a href="/about">About Us</a></li>
          <li><a href="/leadership">Leadership</a></li>
          <li><a href="/donors">Donors</a></li>
          <li><a href="/partners">Partners</a></li>
          <li><a href="/team">Pupil Team</a></li>
          <li><%= link_to "Blog", "https://medium.com/@meetpupil", :target => "_blank" %></li>
          <li><a href="#">Jobs</a></li>
        </ul>
      </li>
      <li class="nav-button"><%= link_to 'Become a mentor', contact_path, :class => "btn btn-mentor" %></li>
    </ul>
  </div>
  </div>
</nav>