<div class="container content">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3">
      <aside class="visible-md visible-lg">
        <h4>About Us</h4>
        <ul class="about">
          <li><h3><a href="/leadership">Leadership</a></h3></li>
          <%
          #<li><h3><a href="/donors">Donors</a></h3></li>
          #<li><h3><a href="/partners">Partners</a></h3></li>
          %>
          <li><h3><a href="/team">Core Team</a></h3></li>
          <li><h3><%= link_to "Blog", "https://medium.com/@devpupil", :target => "_blank" %></h3></li>
          <li><h3><a href="/jobs">Jobs</a></h3></li>
        </ul>
      </aside>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9">
      <h1>About Us</h1>
      <br>
      <p><strong>DevPupil</strong> is dedicated to expanding access to computer science and increasing participation by underrepresented minorities. Our vision is that students of color in every school should have the opportunity to learn computer science.</p>
      <p><strong>DevPupil</strong> increases diversity in computer science by reaching minority students where they are — at their skill-level, in their schools, and in ways that inspire them to keep learning.</p>
      <p><strong>DevPupil</strong> connects minority students with developers from top companies and universities for one-on-one programming lessons.</p>
      <br>
      <hr>
      <br>
      <%
      #<h4>Donors</h4>
      #<p><strong>DevPupil</strong> is a registered public 501c3 nonprofit, with support from the general public. We are grateful for the generous support of individuals and organizations who support our vision.</p>
      #<p><strong>DevPupil</strong> aims to leverage donations into strong outcomes. But given our nonprofit ambition that students of color in every school should have access to computer science — to become literate citizens in today’s digital world and to test their interests in exploring CS further as a career — we have a long way to go to meet a fundraising goal that will support that vision.</p>
      #<br>
      %>
      <%
      #<center><a href="/donate" class="btn btn-new">Make a donation</a></center>
      #<br>
      #<div class="or"> <h6>or</h6></div>
      #<center><h3><strong><a href="/donors">see our list of donors</a></strong></h3></center>
      ##<p>Please <strong><a href="/contact">contact us</a></strong> if you, your company, or your foundation is interested in talking with our leadership team further to better understand our program and to explore options for investing in our work.</p>
      %>
    </div>
  </div>
</div>
