<div class="container content">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3">
      <aside class="visible-md visible-lg">
        <h4>About Us</h4>
        <ul class="about">
          <li><h3><a href="/about">About Us</a></h3></li>
          <li><h3><a href="/leadership">Leadership</a></h3></li>
          <li><h3><a href="/partners">Partners</a></h3></li>
          <li><h3><a href="/team">Core Team</a></h3></li>
          <li><h3><%= link_to "Blog", "https://medium.com/@devpupil", :target => "_blank" %></h3></li>
          <li><h3><a href="/jobs">Jobs</a></h3></li>
        </ul>
      </aside>
    </div>
    <h1 class="visible-md visible-lg">Donors</h1>
    <h1 class="visible-xs visible-sm">Donors</h1>
    <div class="row">
      <center>
        <div class="col-sm-12 col-md-4 col-lg-4">
        <br>
        <br>
          <ul class="list-group user">
            <li class="list-group-item">
              <span class="pull-left image-60 index">
                
              </span>
              <span class="user-info">
                <h2><strong>You</strong></h2>
                <p>Donor</p>
              </span>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
        <br>
        <br>
          <ul class="list-group user">
            <li class="list-group-item">
              <span class="pull-left image-60 index">
                
              </span>
              <span class="user-info">
                <h2><strong>Your friend</strong></h2>
                <p>Donor</p>
              </span>
            </li>
          </ul>
        </div>
      </center>
      </div>
  </div>
</div>

