<div class="container content">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3">
      <aside class="visible-md visible-lg">
        <h4>About Us</h4>
        <ul class="about">
          <li><h3><a href="/about">About Us</a></h3></li>
          <li><h3><a href="/leadership">Leadership</a></h3></li>
          <li><h3><a href="/donors">Donors</a></h3></li>
          <li><h3><a href="/partners">Partners</a></h3></li>
          <li><h3><a href="/team">Core Team</a></h3></li>
          <li><h3><%= link_to "Blog", "https://medium.com/@devpupil", :target => "_blank" %></h3></li>
        </ul>
      </aside>
    </div>
    <h1 class="visible-md visible-lg">Jobs</h1>
    <h1 class="visible-xs visible-sm">Jobs</h1>
    <br>
    <div class="col-sm-12 col-md-9 col-lg-9">
      <h2>Mentor</h2>
      <h5>Remote | Internship</h5>
      <br>
      <p><strong>Computer science education at the K-12 level is broken.</strong></p>
      <br>
      <p>To function in society, every citizen in the 21<sup>st</sup> century must understand at least the principles of computer science. Elementary and secondary schools have a unique opportunity and responsibility to address this need. Here at <strong>dev/pupil</strong> we see a massive opportunity to increase the availability of computer science education for members of underrepresented groups.</p>
      <br>
      <p><strong>dev/pupil</strong> is on a mission to deliver world-class computer science education to minority students and we're looking for Mentors to provide guidance and instruction to middle and high school students.</p>
      <br>
      <p>As a Mentor, you will receive course credit for your expertise. Time commitment is flexible -- most of our lessons happen between 9am and 9pm EDT -- and you can choose to mentor up to 10 hours per week. You can work from anywhere with a reliable internet connection. You'll sharpen your programming skills while helping an eager student learn.</p>
      <br>
      <p><strong>Who we're looking for ..</strong></p>
    </div>
  </div>
</div>
