<div class="container content">
  <center><h1>Leadership</h1></center>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <ul class="list-group user">
        <li class="list-group-item">
          <span class="pull-left image-60 index">
            <%= image_tag('jim.jpg', alt: 'jim') %>
          </span>
          <span class="user-info">
            <h2><strong>Jim Lindsey</strong></h2>
            <p>Founder and CEO</p>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
